parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Behat

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/TestApplication/src/**.php'

    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        # Configuration.php is excluded from analysis (causes crash), so its usage in Extension must be suppressed
        - '/Instantiated class Webgriffe\\SyliusMailchimpPlugin\\DependencyInjection\\Configuration not found\./'
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Webgriffe\\SyliusMailchimpPlugin\\DependencyInjection\\Configuration given\./'
